*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#container{
    width: 100vw;
    height: 100vh;
    background-color: #efa;
    padding: 1vw 0;
}

aside{
    width: 20vw;
    height: 100%;
    background-color: #ccc;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 2vw 3vw;
}

#logo-search{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

#logo-search img{
    border-radius: 12px;
    width: 200px;
    height: 70px;
    object-fit: cover;
    object-position: center;
}

#logo-search #search{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.ri-search-line{
    position: absolute;
    right: 6px;
    top: 13%;
    font-size: 20px;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 12px;
    outline: none;
    padding: 12px 1vw;
    padding-right: 2VW;
}

#menu-contents{
    display: flex;
    flex-direction: column; 
    gap: 12px;   
}

#menu{
    border-top:1px solid black;
    margin-top: 1vw ;
    padding: 12px 0;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#menu h6{
    font-size: 18px;
    font-weight: 900;
}

#menu-contents a{
    width: fit-content;
    text-decoration: none;
    color: #111;
    border-bottom: 2px solid transparent;
}

#menu-contents a:hover{
    border-bottom: 2px solid blue;
}


#group{
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#group a{
    text-decoration: none;
    width: fit-content;
    border-bottom: 2px solid transparent;
}

#group a:hover{
    border-bottom: 2px solid blue;
}